* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: grey;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  background-color: white;
  width: 270px;
  height: 380px;
  margin: 10px;
  border-radius: 15px 15px 0 0;
}

.card-image {
  background-color: aqua;
  height: 170px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.car-1 {
  background-image: url("./pexels-0ldpikes-34071036.jpg");
}

.car-2 {
  background-image: url("./pexels-max-kladitin-456997122-18382225.jpg");
}

.car-3 {
  background-image: url("./pexels-vadutskevich-13555037.jpg");
}

.card h2 {
  padding: 10px;
  text-align: center;
}

.card p {
  padding: 10px;
}

.card a {
  background-color: black;
  color: white;
  padding: 15px, 20px;
  display: block;
  margin: 20px, 50px;
  text-align: center;
}

.card:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}
