* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, sans-serif;
  line-height: 1.6;
  color: white;
  background-color: #0a0a0a;
  background: linear-gradient(to right, #0a0a0c, #1c0347);
}

.hero {
  margin-top: 100px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.announcement {
  border: 1px solid rgb(11, 7, 35);
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #2d1f49;
}

.announcement-link {
  /*  */
  text-decoration: none;
}

.announcement-link:hover {
  cursor: pointer;
}

.announcement-text {
  text-align: center;
  color: white;
  font-size: larger;
  font-weight: 500;
}

.announcement-button {
  border: 1px solid #3e3455;
  border-radius: 15px;
  padding: 3px 12px;
  color: white;
  margin-inline: 5px;
}

.hero-content {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  width: 1200px;
}

.hero-title {
  font-size: 80px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  letter-spacing: 0.2px;
  margin-bottom: 30px;
}

.hero-description {
  width: 600px;
  font-size: larger;
  text-align: center;
}

.cta-button {
  margin: 30px;
  border: 1px solid white;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #3e18ca, #feb47b);
  color: white;
}

.cta-button:hover {
  cursor: pointer;
  opacity: 1;
}

@media (max-width: 640px) {
  .hero {
    padding: 1rem;
  }

  .announcement-link {
    font-size: 0.75rem;
  }

  .hero-content {
    padding: 0 1rem;
  }
}
